h1{
    text-align: center;
    color: black;
    font-size: 100px;
    font-family: "DejaVu Sans";
    margin: 20px;
}
p{
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 700px;
    font-family: Chilanka;
}